:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}
.scroll-container {
    position: relative; /* Обеспечиваем нормальное размещение внутри страницы */
    width: 100vw; /* Занимает всю ширину экрана */
    height: 100vh; /* Занимает всю высоту экрана */
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
}

.main-container {
    position: relative; /* Нормальное позиционирование */
    padding: 20px; /* Добавляем отступы для визуального разделения */
    box-sizing: border-box; /* Учитываем отступы и границы */
}

.main-container1 {
    overflow: hidden;
}

.main-container1,
.main-container1 * {
    box-sizing: border-box;
}

.main-container-search {
    position: relative;
    margin: 0 auto;
    font-size: 0px;
    overflow: visible; /* Позволяем содержимому растягивать контейнер */
    width: 1485px;
    min-height: 100%; /* Растягиваем контейнер под содержимое */
    background: rgba(44, 44, 44, 0.4);
    padding: 16px;
    box-sizing: border-box;
    border-radius: 16px;
}


.search-imhere-logo { /*стиль для текста ImHere */
    font-size: 68px;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
}
.search-field {  /* поле для поиска */
    top: 50%;
    left: 305px;
    transform: translateY(-50%);
    position: absolute;
    width: 1112px;
    height: 70px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 50px;
}
.search-field input {
    padding-top: 22px;
    padding-left: 20px;
    border: none;
    outline: none;
    background: transparent;
}

.filter-button { /*кнопка фильтра */
    position: absolute;
    top: 50%;
    left: 1440px;
    transform: translateY(-50%);
    width: 75px;
    height: 75px;
    background: url(../../assets/images/filter.png);
    cursor: pointer;
    border: none;
}

.result-button {   /*кнопка результата */
    position: absolute;
    top: 50%;
    left: 1540px;
    transform: translateY(-50%);
    width: 75px;
    height: 75px;
    background: url(../../assets/images/arrow-right.png) no-repeat center, #CBEE4C;
    cursor: pointer;
    border-radius: 50%; /* делает кнопку круглой */
    border: none;
}

.back-button {    /*кнопка назад */
    position: absolute;
    top: 80px;
    left: 80px;
    width: 75px;
    height: 75px;
    background: url(../../assets/images/back.png);
    cursor: pointer;
    border: none;
}

.people-search-button {
    position: absolute;
    width: 197px;
    height: 41px;
    top: 440px;
    left: 315px;
    background: #ffffff; /* Белый фон по умолчанию */
    border-radius: 50px;
    text-align: right;
    line-height: 41px;
    padding-right: 20px;
    cursor: pointer;
    border: none;
    font-family: Inter, var(--default-font-family);

}

.project-search-button {
    position: absolute;
    width: 121px;
    height: 41px;
    top: 440px;
    left: 315px;
    background: #cbee4c; /* Зеленый фон по умолчанию для "Проекты" */
    border-radius: 50px;
    text-align: center;
    line-height: 41px;
    cursor: pointer;
    border: none;
    font-family: Inter, var(--default-font-family);

}

.tag-frame {
    top: 620px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 1311px;
    height: 135px;
    border: 3px solid #cbee4c;
    border-radius: 60px;

}

.hidden {
    display: none;
}

.tag-search-button{
    position: absolute;
    top: 665px;
    left: 1510px;
    width: 61px;
    height: 41px;
    background:url(../../assets/images/plus.png) no-repeat center, #ffffff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.active-button {
    background: #cbee4c !important; /* Зелёный фон для активной кнопки */
}

.people-search-button, .project-search-button {
    background: #ffffff; /* Сброс фонового цвета для неактивной кнопки */

}
.tag-popup {
    position: relative;
    width: 600px;
    height: 800px;
    margin: 0 auto;
    top: 200px;
    background: #595959;
    overflow: hidden;
    border-radius: 50px;
}

.tag-popup.hidden {
    display: none;
}

.close-button {
    position: absolute;
    top: 35px;
    left: 510px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(../../assets/images/x.png) no-repeat center, #d9d9d9;
    background-size: cover;
    overflow: hidden;
    border-radius: 50%;
    border: none;
}



.card-background {
    position: relative; /* Относительное позиционирование */
    margin-top: 670px; /* Отступ сверху для размещения ниже строки поиска */
    margin-left: 130px;
}



/*.card-background {*/
/*    position: relative;*/
/*    margin: 16px auto; !* Центрируем карточки относительно контейнера *!*/
/*    padding: 16px;*/
/*    width: 100%; !* Карточки занимают всю ширину родительского контейнера *!*/
/*    background-color: rgba(255, 255, 255, 0.1); !* Легкий фон *!*/
/*    border-radius: 16px; !* Скругленные углы *!*/
/*    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); !* Легкая тень *!*/
/*    box-sizing: border-box; !* Учитываем padding *!*/
/*}*/








html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Даем 100% высоты */
    overflow-y: auto; /* Позволяем вертикальную прокрутку */
}
