.error-modal {
    position: absolute; /* Абсолютное позиционирование */
    top: 75%; /* Устанавливаем верхнюю границу на 75% высоты */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем на 50% по ширине и высоте для центрирования */
    background-color: rgba(200, 200, 200, 0.4); /* Серый цвет с большей прозрачностью */
    color: white; /* Цвет текста */
    padding: 20px;
    border-radius: 16px; /* Закругленные углы */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Тень для лучшего восприятия */
}

.error-modal p {
    margin: 0;
    font-size: 16px;
    text-align: center;
}

.error-modal button {
    background-color: #555; /* Цвет кнопки */
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px; /* Закругленные углы для кнопки */
}


.centered-list {
    display: flex;
    justify-content: center; /* Центрирует контейнер */
}

.centered-list ul {
    text-align: left; /* Выровняет текст по левому краю */
    padding-left: 20px; /* Опционально добавьте отступ для списков */
}