.download-photo-button {
    position: absolute;
    top: 410px;
    left: 330px;
    cursor: pointer;
    width: 61px;
    height: 41px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 20px;
    padding: 0;
    box-sizing: border-box; /* Чтобы padding не влиял на размер */
    z-index: 10;
}

.download-photo-button img {
    width: 24px; /* Настройте, чтобы изображение было по центру */
    height: 24px;
    display: block;
    pointer-events: none; /* Убедитесь, что img не блокирует клики */
}
