body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Занять всю высоту экрана */
    background-color: #f0f0f0; /* Цвет фона */
    margin: 0;
}

.blurred-ellipse {
    width: 595.79px; /* Ширина эллипса */
    height: 605.42px; /* Высота эллипса */
    background-color: #FF82E0; /* Цвет фона */
    border-radius: 50%; /* Закругление углов для создания эллипса */
    position: relative; /* Для позиционирования псевдоэлемента */
    overflow: hidden; /* Скрыть все, что выходит за границы эллипса */
}

.blurred-ellipse::before {
    content: '';
    position: absolute;
    top: -600px; /* Положение псевдоэлемента */
    left: -600px;
    right: -600px;
    bottom: -600px;
    border-radius: 50%; /* Закругление углов для создания растушеванного эффекта */
    background-color: rgba(255, 130, 224, 0.5); /* Цвет растушевки */
    filter: blur(600px); /* Эффект размытия */
    z-index: -1; /* Поместить за основным элементом */
}